@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #121212;
  color: #fff;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid #FA9836;
  padding: 30px;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 50%;
  height: 2.8rem;
  width: 2.8rem;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.6rem;
  /* font-family: inherit; */
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
  height: 2rem;
  background: #E66D5B;
  border: none;
  border-radius: 0.4rem;
  font-size: 1.2rem;
  color: #D3D3D3;
}

.task {
  background: #2D2D2D;
  margin: 15px;
  padding: 10px 20px;
  cursor: pointer;
  user-select: none;
}
.task p{
  color: #D3D3D3;
}

.task.reminder {
  border-left: 5px solid #E66D5B;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.task h3>svg{
  color: #F5A19F;
  font-size: 1.6rem;
}
.task h3>svg:hover{
  color: white;
}
.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}